
* {
    margin: 0;
    font-family: monospace;
}
/* flex */
.flex {
    display: flex;
}
.col {
    flex-flow: column wrap;
}
.row {
    flex-flow: row wrap;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}


/* navbar */
.links {
    height: 120px;
    width:30%;
}
.link {
    border: 1px solid pink;
    background-color: greenyellow;
}
.navbar {
    height: 120px;
    width: 100%;
    background-color: blue;
}
/* footer */
.footer-container {
    height: 100%;
}
.footer {
    height: 80px;
    width:100%;
    justify-self: end;
}
/* containers */
.padding {
    background-color: lightblue;
    width: 40%;
    height: 120px;
}
.container {
    border: 1px solid pink;
    height: 120px;
    background-color: greenyellow;
}
.container-10 {
    border: 1px solid pink;
    height: 120px;
    width: 10%;
}
.orange-bg {
    background-color: lightsalmon;
}
.green {
    background-color: greenyellow;
}
.yellow {
    background-color: yellow;
}
.head-shot {
    height: 100px;
    width: 100px;
    z-index:2;
    border: 1px solid orange;
    
}
/* spacing */
.ml-10 {
   margin-left: 10px; 
}
.mr-10 {
    margin-right: 10px; 
 }
 /* borders */
 .bdr {
    border: 3px dashed thistle;
    box-shadow: 1px 2px 3px black;
 }
 .bdr:active {
    margin: 1px;
 }
 .bdr:target {
    margin:1px;
 }
 /* text */
 .text-center {
    text-align: center;
 }