:root {
    --Dark-Purple: #0C0032;
    --Blue: #3500D3;
    --Grey: #282828;
    --Darker-Blue: #240090;
    --light-purple: #190061;
    --White: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    font-family: monospace;
    color:aliceblue;
    background-color: black;
}
/* flex */
.flex {
    display: flex;
}
.col {
    flex-flow: column wrap;
}
.row {
    flex-flow: row wrap;
}
.col-reversed {
    flex-flow:column-reverse wrap;
}
.row-reversed {
    flex-flow:row-reverse wrap;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}


/* navbar */
.links {
    height: 120px;
    width:30%;
}
.link-zelda {
    background-image: url('C:/Users/Chad/Desktop/Grand Circus/Personal_Website_Lab/projects/images/Happy_Link.png');
    height: 16px;
    width: 16px;
}
.link-container {
    width: 100%;
}
.link {
    /* box-shadow: 2px 4px var(--Dark-Purple);
    background-color: var(--Grey); */
    height: 20px;
    width: 50%;
}
.box {
    background-color: var(--Blue);
    height: 6px;
    width: 100%;
}
.navbar {
    height: 120px;
    width: 100%;
    background-color: var(--Dark-Purple);
}
/* lists */
.list-card li {
    background-color: var(--Dark-Purple);
    width: 90%;
    margin-right: 20px;
}
.list-card a {
    cursor: url('C:/Users/Chad/Desktop/Grand Circus/Personal_Website_Lab/projects/images/link_sword.png'), auto;
}
.list-card {
    min-width: 10%;
}
li {
    list-style-image: url('C:/Users/Chad/Desktop/Grand Circus/Personal_Website_Lab/projects/images/link_sword.png');
    
}
/* footer */
.footer-container {
    margin-top: auto;
    padding-top: 1%;
    height: 80px;
    background-color: black;
}
.footer {
    height: 80px;
    width:100%;
    background-color: var(--Darker-Blue);
}
.footer-links a {
    padding: 4px;
    box-shadow: 2px 4px #0C0032;
    background-color: var(--Grey);
}
/* containers */
.head-shot {
    height: 100px;
    width: 100px;
}
.main-image-content {
    height: auto;
    width: 20vw;
}
.main-image-content:hover {
    cursor: url('C:/Users/Chad/Desktop/Grand Circus/Personal_Website_Lab/projects/images/Happy_Link.png'), auto;
}
.section {
    height: 70vh;
    background-color: var(--Dark-Purple);
}
.padding {
    width: 40%;
    height: 120px;
}
.container {
    
    height: 120px;
    /* background-color: var(--Grey); */
}
.container-10 {
    /* background-color: var(--Grey); */
    height: 120px;
    width: 20%;
}
.blue {
    background-color: var(--Blue);
}
.darker-blue {
    background-color: var(--Darker-Blue);
}
.dark-purple {
    background-color: var(--Dark-Purple);
}
.light-purple {
    background-color: var(--light-purple);
}
.grey {
    background-color: var(--Grey);
}
.black {
    background-color: black;
}

/* spacing */
.ml-10 {
   margin-left: 10px; 
}
.mr-10 {
    margin-right: 10px; 
 }
 .mb-10 {
    margin-bottom: 10px;
 }
 .mt-10 {
    margin-top: 10px;
 }
 .width-60 {
    width: 60%;
 }
 .p-b-10 {
    padding-bottom:10px;
 }
 /* borders */
 .bdr {
    border: 1px solid var(--White);
    /* box-shadow: 2px 3px 2px 3px var(--light-purple); */
    border-radius: 3px;
 }
 .bdr:active {
    margin: 1px;
 }
 .bdr:target {
    margin:1px;
 }
 /* text */
 .text-center {
    text-align: center;
 }
 .text-light {
    color:aliceblue;
 }